if SHIELD_TYPEBOY_PWING

config ZMK_KEYBOARD_NAME
    default "Type Boy P-Wing"

config SPI
    default y

config ZMK_POINTING
    default y

config ZMK_DISPLAY
	select LV_FONT_MONTSERRAT_28

config LS0XX
	default y
    
config ZMK_DISPLAY_INVERT
	default y

endif